.media{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    width: fit-content;
    padding: 20px;
    padding-right: 100px;
    background-color: rgb(154, 153, 153);
}

article{
    margin-right: 50px;
}

.box{
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.count{
    display: flex;
    align-items: center;
    gap: 40px;
}

.count button{
    width: 70px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.has-addons{
    display: flex;
    margin-left: 50px;
}

.has-addons input{
    width: 200px;
    height: 25px;
}

.has-addons button{
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.content{
    font-size: 20px;
    text-align: center;
}